<!-- Link to template page -->
{% extends "layout.html" %}

<!-- Inserts this block of code into the body of the template -->
{% block content %}
    <article>
        <h1>{{ textbook.title }}</h1>
        <div class="metadata">
            <p class="terms">{{ chapters_length }} chapters</p>
        </div>
        <h2>Quizzes</h2>
        {% for quiz in quizzes %}
            <article class="quiz">
                <h2><a href="{{ url_for('quiz', quiz_id=quiz.id) }}">{{ quiz.title }}</a></h2>
                <p class="terms">{{ quiz_lengths[quizzes.index(quiz)] }} terms</p>
            </article>
        {% endfor %}
    </article>
{% endblock content %}