<!-- Link to template page -->
{% extends "layout.html" %}

<!-- Inserts this block of code into the body of the template -->
{% block content %}
    <h1>About</h1>

    <p>This project is a quiz-making application designed for anyone who wants to revise facts which uses flashcards to prompt users to recall information.</p>

    <h2>Summary</h2>

    <ol>
        <li>Uses the <em>Flask</em> framework to develop the back-end of the website.</li>
        <li>Uses <em>Bootstrap</em> for CSS styling.</li>
    </ol>
{% endblock content %}